.App {
  text-align: center;
}

.bg-image {
  background-image: url("../public/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #002d2b;
}
.header {
  height: 150px;
}
